* {
  box-sizing: border-box;
}
.app-wrapper{
  margin: 20px 0;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
 
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 16px;
  z-index: 3;
  margin-top: 10px;
}
ul li .progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
ul li .todo-desc{
  flex: 1;
  padding: 12px 8px 12px 40px;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 30px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.tab-content{
  margin-top: 20px;
}

.action-btn {
  padding: 10px;
}

.action-btn:hover {
  color: white;
  color: #4dabf7;
}


.header {
  background-color: #656565;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.todo-time{
  position: absolute;
  right: 270px;
  top: 23px;
  border: 2px solid #70ebff;
  border-radius: 5px;
  padding: 0 8px;
}





.input-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .input-row {
    flex-flow: row nowrap;
  }
}
.input-row #input-filter {
  width: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .input-row #input-filter {
    margin-top: 15px;
  }
}
.input-row > * {
  width: 100%;
  flex-basis: 100%;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .input-row > * {
    flex-basis: 49%;
    max-width: 49%;
  }
}
@media (min-width: 992px) {
  .input-row > * {
    margin-top: 0;
  }
}
.input-row > *:first-child, .input-row > *:nth-child(2) {
  min-width: 190px;
}
@media (min-width: 992px) {
  .input-row select {
    margin: 0 5px;
  }
}
@media (min-width: 992px) {
  .input-row button {
    margin-left: 10px;
    max-width: 80px;
  }
}